API Extraction Weather Data:

URL : /api/temporal/daily/point?parameters=WS10M,WD10M,T2MDEW,T2MWET,T2M,V10M,RH2M,PS,PRECTOT,QV2M,U10M&community=SB&longitude=0&latitude=0&start=20170101&end=20170102&format=CSV

In [1]:
import pandas as pd
import numpy as np
import requests
import re

In [2]:
df=pd.read_csv("/content/MLP2023.csv")

In [3]:
df.head()

,Severity,Date,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,City,County,...,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,2,2020-01-01,15:05:00,16:37:25,34.143352,-117.257364,0.000,At Del Rosa Ave - Accident.,San Bernardino,San Bernardino,...,True,False,False,False,False,False,False,False,False,Day
1,3,2020-01-01,00:05:48,00:35:10,41.761780,-87.866720,0.048,Ramp to Exit 279B - Accident.,La Grange,Cook,...,False,False,False,False,False,False,False,False,False,Night
2,2,2020-01-01,00:52:44,02:58:53,32.993809,-96.792542,0.000,Accident on Windrock Rd at Leveland Dr.,Dallas,Collin,...,False,False,False,False,False,False,False,False,False,Night
3,2,2020-01-01,16:41:52,18:41:38,43.184731,-77.599442,0.000,Accident on Pulaski St near Hudson Ave.,Rochester,Monroe,...,False,False,False,False,False,False,False,False,False,Day
4,3,2020-01-01,18:42:18,20:11:57,40.876106,-73.904716,0.000,Right lane blocked due to accident on I-87 Sou...,Bronx,Bronx,...,False,False,False,False,False,False,False,False,False,Night

In [4]:
df.shape

(253392, 36)

In [5]:
df.isnull().sum()

Severity                0
Date                    0
Start_Time              0
End_Time                0
Start_Lat               0
Start_Lng               0
Distance(mi)            0
Description             0
City                    0
County                  0
State                   0
Zipcode                 0
Timezone                0
Weather_Timestamp       0
Temperature(F)        646
Humidity(%)          1059
Pressure(in)          166
Visibility(mi)        761
Wind_Direction       1574
Wind_Speed(mph)      1573
Precipitation(in)    6569
Weather_Condition     626
Amenity                 0
Bump                    0
Crossing                0
Give_Way                0
Junction                0
No_Exit                 0
Railway                 0
Roundabout              0
Station                 0
Stop                    0
Traffic_Calming         0
Traffic_Signal          0
Turning_Loop            0
Sunrise_Sunset          0
dtype: int64

In [6]:
df.isnull().sum().sum()

12974

In [8]:
Temp_df = df[df['Temperature(F)'].isnull()]

In [9]:
Temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 646 entries, 287 to 253333
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Severity           646 non-null    int64
 1   Date               646 non-null    object
 2   Start_Time         646 non-null    object
 3   End_Time           646 non-null    object
 4   Start_Lat          646 non-null    float64
 5   Start_Lng          646 non-null    float64
 6   Distance(mi)       646 non-null    float64
 7   Description        646 non-null    object
 8   City               646 non-null    object
 9   County             646 non-null    object
 10  State              646 non-null    object
 11  Zipcode            646 non-null    object
 12  Timezone           646 non-null    object
 13  Weather_Timestamp  646 non-null    object
 14  Temperature(F)     0 non-null      float64
 15  Humidity(%)        0 non-null      float64
 16  Pressure(in)       646 non-null    float64
 17  Visibility(mi)     646 non-null    float64
 18  Wind_Direction     646 non-null    object
 19  Wind_Speed(mph)    646 non-null    float64
 20  Precipitation(in)  646 non-null    float64
 21  Weather_Condition  646 non-null    object
 22  Amenity            646 non-null    bool
 23  Bump               646 non-null    bool
 24  Crossing           646 non-null    bool
 25  Give_Way           646 non-null    bool
 26  Junction           646 non-null    bool
 27  No_Exit            646 non-null    bool
 28  Railway            646 non-null    bool
 29  Roundabout         646 non-null    bool
 30  Station            646 non-null    bool
 31  Stop               646 non-null    bool
 32  Traffic_Calming    646 non-null    bool
 33  Traffic_Signal     646 non-null    bool
 34  Turning_Loop       646 non-null    bool
 35  Sunrise_Sunset     646 non-null    object
dtypes: bool(13), float64(9), int64(1), object(13)
memory usage: 129.3+ KB

In [10]:
Temp_df.isnull().sum()

Severity               0
Date                   0
Start_Time             0
End_Time               0
Start_Lat              0
Start_Lng              0
Distance(mi)           0
Description            0
City                   0
County                 0
State                  0
Zipcode                0
Timezone               0
Weather_Timestamp      0
Temperature(F)       646
Humidity(%)          646
Pressure(in)           0
Visibility(mi)         0
Wind_Direction         0
Wind_Speed(mph)        0
Precipitation(in)      0
Weather_Condition      0
Amenity                0
Bump                   0
Crossing               0
Give_Way               0
Junction               0
No_Exit                0
Railway                0
Roundabout             0
Station                0
Stop                   0
Traffic_Calming        0
Traffic_Signal         0
Turning_Loop           0
Sunrise_Sunset         0
dtype: int64

In [11]:
# Date Conversion
Date_T = Temp_df['Date'].str.replace("-","")
Date_T=Date_T.tolist()

In [12]:
#Lat_T and Long_T
Lat_T=Temp_df['Start_Lat'].tolist()
Long_T=Temp_df['Start_Lng'].tolist()

In [13]:
len(Date_T)

646

In [14]:
Date_T[0]

'20200103'

In [15]:
Lat_T[0]

42.821289

In [16]:
URL_T="https://power.larc.nasa.gov/api/temporal/daily/point?start="+str(Date_T[0])+"&end="+str(Date_T[0])+"&latitude="+str(Long_T[0])+"&longitude="+str(Lat_T[0])+"&community=re&parameters=T2M&time-standard=lst"
response = requests.get(URL_T)

In [17]:
response

In [18]:
response.json()

{'type': 'Feature',
 'geometry': {'type': 'Point',
  'coordinates': [42.821289, -74.197983, 3320.18]},
 'properties': {'parameter': {'T2M': {'20200103': -30.86}}},
 'header': {'title': 'NASA/POWER CERES/MERRA2 Native Resolution Daily Data',
  'api': {'version': 'v2.5.9', 'name': 'POWER Daily API'},
  'sources': ['merra2'],
  'fill_value': -999.0,
  'start': '20200103',
  'end': '20200103'},
 'messages': [],
 'parameters': {'T2M': {'units': 'C', 'longname': 'Temperature at 2 Meters'}},
 'times': {'data': 1.364, 'process': 0.14}}

In [30]:
T2M=[]

In [31]:
for i in range(len(Lat_T)):
  URL_T="https://power.larc.nasa.gov/api/temporal/daily/point?start="+str(Date_T[i])+"&end="+str(Date_T[i])+"&latitude="+str(Lat_T[i])+"&longitude="+str(Long_T[i])+"&community=re&parameters=T2M&time-standard=lst"
  response = requests.get(URL_T)
  T2M.append(response.json()['properties']['parameter']['T2M'][Date_T[i]])

In [32]:
len(T2M)

646

In [33]:
T2M[0:5]

[1.41, 9.8, 7.37, 7.45, 8.01]

In [34]:
T2M[-5:]

[8.62, 9.27, 17.49, 9.19, 14.12]

Need to Convert C to F

In [35]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

for i in range(len(T2M)):
  T2M[i] = celsius_to_fahrenheit(T2M[i])

In [36]:
T2M[0:5]

[34.538, 49.64, 45.266, 45.41, 46.418]

In [37]:
#Rounding OFF to 1 decimal place
for i in range(len(T2M)):
  T2M[i]=round(T2M[i],1)

In [64]:
T2M[0:5]

[34.5, 49.6, 45.3, 45.4, 46.4]

In [65]:
T2M[-5:]

[47.5, 48.7, 63.5, 48.5, 57.4]

In [38]:
#T2M has Final Temperature Missing Values
Final_M_TEMP=T2M.copy()

In [39]:
len(Final_M_TEMP)

646

In [72]:
Temp_DIC={"Temperature(F)" : Final_M_TEMP}

In [75]:
Temp_df_final=Temp_df.drop(columns=['Temperature(F)'])

In [78]:
Temp_df_final['Temperature(F)'] = Temp_DIC['Temperature(F)']

In [79]:
Temp_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 646 entries, 287 to 253333
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Severity           646 non-null    int64
 1   Date               646 non-null    object
 2   Start_Time         646 non-null    object
 3   End_Time           646 non-null    object
 4   Start_Lat          646 non-null    float64
 5   Start_Lng          646 non-null    float64
 6   Distance(mi)       646 non-null    float64
 7   Description        646 non-null    object
 8   City               646 non-null    object
 9   County             646 non-null    object
 10  State              646 non-null    object
 11  Zipcode            646 non-null    object
 12  Timezone           646 non-null    object
 13  Weather_Timestamp  646 non-null    object
 14  Humidity(%)        0 non-null      float64
 15  Pressure(in)       646 non-null    float64
 16  Visibility(mi)     646 non-null    float64
 17  Wind_Direction     646 non-null    object
 18  Wind_Speed(mph)    646 non-null    float64
 19  Precipitation(in)  646 non-null    float64
 20  Weather_Condition  646 non-null    object
 21  Amenity            646 non-null    bool
 22  Bump               646 non-null    bool
 23  Crossing           646 non-null    bool
 24  Give_Way           646 non-null    bool
 25  Junction           646 non-null    bool
 26  No_Exit            646 non-null    bool
 27  Railway            646 non-null    bool
 28  Roundabout         646 non-null    bool
 29  Station            646 non-null    bool
 30  Stop               646 non-null    bool
 31  Traffic_Calming    646 non-null    bool
 32  Traffic_Signal     646 non-null    bool
 33  Turning_Loop       646 non-null    bool
 34  Sunrise_Sunset     646 non-null    object
 35  Temperature(F)     646 non-null    float64
dtypes: bool(13), float64(9), int64(1), object(13)
memory usage: 129.3+ KB

In [82]:
Temp_df_final

,Severity,Date,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,City,County,...,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Temperature(F)
287,2,2020-01-03,08:52:05,09:51:47,42.821289,-74.197983,0.000,Right hand shoulder blocked due to accident on...,Pattersonville,Schenectady,...,False,False,False,False,False,False,False,False,Day,34.5
546,3,2020-01-04,08:00:21,08:44:58,39.021610,-76.940407,0.000,Left hand shoulder blocked and left lane block...,Hyattsville,Prince George's,...,False,False,False,False,False,False,False,False,Day,49.6
567,2,2020-01-05,12:53:00,13:33:38,38.538957,-121.736787,0.000,At Richards Blvd - Accident.,Davis,Yolo,...,False,False,False,False,False,False,False,False,Day,45.3
637,2,2020-01-05,21:25:00,22:16:37,34.426715,-117.380183,0.000,At I-15/Barstow Fwy/Historic Route 66 - Accident.,Hesperia,San Bernardino,...,False,False,False,False,False,False,False,False,Night,45.4
972,2,2020-01-07,07:54:00,08:28:38,34.516618,-117.320619,0.000,At I-15-BL/CA-18/Palmdale Rd - Accident.,Victorville,San Bernardino,...,False,False,False,False,False,False,False,False,Day,46.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250663,2,2023-02-09,11:56:00,14:06:12,38.368707,-122.302421,0.123,Accident on Oak Knoll Ave from Big Ranch Rd to...,Napa,Napa,...,False,False,False,False,False,False,False,False,Day,47.5
250750,2,2023-02-10,14:48:03,17:23:06,40.626391,-74.304875,0.969,NJ Turnpike Auth.: Crash on Garden State Parkw...,Clark,Union,...,False,False,False,False,False,False,False,False,Day,48.7
251915,2,2023-02-26,07:02:00,07:32:00,33.610655,-83.803928,0.586,Crash on I-20 Eastbound at Before SR 11. No la...,Covington,Newton,...,False,False,False,False,False,False,False,False,Night,63.5
252548,2,2023-03-22,21:18:00,01:58:08,38.227839,-122.119785,0.023,Accident on I-80 E - CA-12 E from Suisun Valle...,Fairfield,Solano,...,False,False,False,False,False,False,False,False,Night,48.5
253333,2,2023-03-31,15:08:33,15:38:33,42.010970,-88.144753,0.007,At IL-19/Irving Park Rd - Accident.,Hanover Park,Cook,...,False,False,False,False,False,False,False,False,Day,57.4

In [83]:
Temp_df_final.to_csv("Temp_df_final",index=False)

Humidity Values in Percentage :RH2M

In [40]:
Humidity_df=df[df["Humidity(%)"].isnull()]

In [41]:
#Date Conversion
Date_H = Humidity_df['Date'].str.replace("-","")
Date_H=Date_H.tolist()

In [42]:
#Lat_T and Long_T
Lat_H=Humidity_df['Start_Lat'].tolist()
Long_H=Humidity_df['Start_Lng'].tolist()

In [43]:
len(Lat_H)

1059

In [44]:
len(Date_H)

1059

In [45]:
Humidity_df.isnull().sum()

Severity                0
Date                    0
Start_Time              0
End_Time                0
Start_Lat               0
Start_Lng               0
Distance(mi)            0
Description             0
City                    0
County                  0
State                   0
Zipcode                 0
Timezone                0
Weather_Timestamp       0
Temperature(F)        646
Humidity(%)          1059
Pressure(in)            1
Visibility(mi)          0
Wind_Direction          0
Wind_Speed(mph)         0
Precipitation(in)       7
Weather_Condition       4
Amenity                 0
Bump                    0
Crossing                0
Give_Way                0
Junction                0
No_Exit                 0
Railway                 0
Roundabout              0
Station                 0
Stop                    0
Traffic_Calming         0
Traffic_Signal          0
Turning_Loop            0
Sunrise_Sunset          0
dtype: int64

In [52]:
URL_H="https://power.larc.nasa.gov/api/temporal/daily/point?start="+str(Date_H[0])+"&end="+str(Date_H[0])+"&latitude="+str(Lat_H[0])+"&longitude="+str(Long_H[0])+"&community=re&parameters=RH2M&time-standard=lst"
response = requests.get(URL_H)

In [53]:
response

In [54]:
response.json()

{'type': 'Feature',
 'geometry': {'type': 'Point', 'coordinates': [-77.369286, 38.523136, 87.42]},
 'properties': {'parameter': {'RH2M': {'20200103': 92.19}}},
 'header': {'title': 'NASA/POWER CERES/MERRA2 Native Resolution Daily Data',
  'api': {'version': 'v2.5.9', 'name': 'POWER Daily API'},
  'sources': ['power'],
  'fill_value': -999.0,
  'start': '20200103',
  'end': '20200103'},
 'messages': [],
 'parameters': {'RH2M': {'units': '%',
   'longname': 'Relative Humidity at 2 Meters'}},
 'times': {'data': 1.198, 'process': 0.12}}

In [55]:
 Humidity_df[['Date', 'Start_Lat', 'Start_Lng', 'Humidity(%)']]

              Date  Start_Lat   Start_Lng  Humidity(%)
23      2020-01-01  38.523136  -77.369286          NaN
287     2020-01-03  42.821289  -74.197983          NaN
304     2020-01-03  34.426343 -117.581235          NaN
546     2020-01-04  39.021610  -76.940407          NaN
567     2020-01-05  38.538957 -121.736787          NaN
...            ...        ...         ...          ...
252548  2023-03-22  38.227839 -122.119785          NaN
252774  2023-03-25  33.765390  -84.494383          NaN
252992  2023-03-27  33.698248  -84.468359          NaN
253028  2023-03-27  33.794611  -84.393749          NaN
253333  2023-03-31  42.010970  -88.144753          NaN

[1059 rows x 4 columns]

In [56]:
Hum=[]

In [57]:
for i in range(len(Lat_H)):
  URL_H="https://power.larc.nasa.gov/api/temporal/daily/point?start="+str(Date_H[i])+"&end="+str(Date_H[i])+"&latitude="+str(Lat_H[i])+"&longitude="+str(Long_H[i])+"&community=re&parameters=RH2M&time-standard=lst"
  response = requests.get(URL_H)
  Hum.append(response.json()['properties']['parameter']['RH2M'][Date_H[i]])

In [58]:
len(Hum)

1059

In [60]:
Final_Hum=Hum.copy()

In [61]:
for i in range(len(Hum)):
  Final_Hum[i]=round(Final_Hum[i])

In [62]:
#Final_Humidity Values for Missing Fields
Final_Hum

[70,
 99,
 52,
 94,
 85,
 56,
 46,
 46,
 78,
 78,
 95,
 85,
 91,
 87,
 87,
 89,
 76,
 93,
 88,
 84,
 66,
 88,
 63,
 47,
 47,
 30,
 39,
 64,
 64,
 42,
 68,
 96,
 68,
 77,
 84,
 77,
 54,
 95,
 62,
 83,
 64,
 68,
 82,
 59,
 44,
 34,
 96,
 95,
 51,
 51,
 51,
 61,
 71,
 71,
 71,
 84,
 64,
 82,
 76,
 82,
 69,
 78,
 72,
 75,
 85,
 88,
 90,
 70,
 70,
 76,
 87,
 83,
 70,
 66,
 91,
 96,
 91,
 79,
 91,
 75,
 78,
 73,
 74,
 97,
 60,
 52,
 89,
 82,
 73,
 84,
 82,
 85,
 77,
 79,
 87,
 78,
 35,
 65,
 60,
 44,
 94,
 43,
 42,
 70,
 94,
 88,
 80,
 35,
 63,
 60,
 89,
 84,
 57,
 65,
 86,
 80,
 53,
 53,
 86,
 72,
 85,
 85,
 83,
 87,
 89,
 30,
 89,
 88,
 34,
 84,
 36,
 79,
 79,
 79,
 55,
 76,
 80,
 37,
 80,
 84,
 57,
 63,
 82,
 78,
 86,
 77,
 76,
 91,
 39,
 39,
 74,
 93,
 79,
 83,
 49,
 90,
 40,
 84,
 27,
 71,
 71,
 71,
 76,
 73,
 66,
 79,
 81,
 72,
 76,
 76,
 76,
 76,
 86,
 75,
 86,
 78,
 66,
 84,
 83,
 77,
 77,
 30,
 79,
 72,
 61,
 19,
 64,
 81,
 81,
 34,
 79,
 79,
 67,
 94,
 66,
 83,
 67,
 25,
 91,
 15,
 18,
 87,
 91,
 74,
 35,
 35,
 84,
 81,
 35,
 35,
 76,
 15,
 61,
 76,
 84,
 71,
 77,
 84,
 85,
 90,
 76,
 77,
 18,
 20,
 14,
 30,
 17,
 17,
 77,
 15,
 85,
 85,
 87,
 87,
 79,
 91,
 88,
 80,
 62,
 62,
 88,
 94,
 93,
 50,
 94,
 94,
 53,
 53,
 71,
 84,
 88,
 93,
 88,
 83,
 85,
 87,
 79,
 79,
 75,
 16,
 16,
 17,
 57,
 50,
 76,
 50,
 24,
 64,
 95,
 96,
 74,
 84,
 39,
 93,
 88,
 92,
 48,
 88,
 91,
 50,
 37,
 98,
 91,
 94,
 80,
 81,
 27,
 77,
 51,
 30,
 72,
 68,
 76,
 71,
 62,
 54,
 82,
 32,
 29,
 32,
 89,
 75,
 83,
 83,
 35,
 69,
 35,
 79,
 79,
 79,
 94,
 79,
 51,
 70,
 47,
 92,
 94,
 96,
 28,
 24,
 80,
 70,
 25,
 25,
 74,
 27,
 20,
 18,
 65,
 71,
 69,
 32,
 73,
 83,
 83,
 73,
 32,
 73,
 85,
 67,
 80,
 94,
 36,
 65,
 50,
 50,
 70,
 70,
 94,
 79,
 91,
 74,
 74,
 74,
 74,
 74,
 74,
 77,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 74,
 73,
 23,
 75,
 79,
 88,
 88,
 88,
 88,
 89,
 88,
 73,
 88,
 76,
 75,
 63,
 57,
 57,
 64,
 78,
 78,
 78,
 78,
 61,
 73,
 73,
 86,
 73,
 79,
 79,
 79,
 79,
 79,
 88,
 79,
 88,
 28,
 79,
 79,
 92,
 84,
 83,
 83,
 83,
 94,
 45,
 97,
 97,
 61,
 93,
 95,
 83,
 38,
 40,
 36,
 36,
 36,
 96,
 27,
 35,
 75,
 75,
 81,
 84,
 84,
 75,
 75,
 73,
 72,
 90,
 74,
 90,
 98,
 53,
 87,
 75,
 57,
 68,
 66,
 80,
 96,
 94,
 75,
 68,
 68,
 68,
 91,
 49,
 79,
 68,
 62,
 68,
 68,
 63,
 68,
 41,
 90,
 78,
 77,
 72,
 80,
 90,
 86,
 86,
 90,
 90,
 83,
 83,
 68,
 49,
 49,
 86,
 94,
 63,
 90,
 80,
 37,
 68,
 54,
 96,
 32,
 87,
 30,
 24,
 86,
 51,
 71,
 63,
 74,
 77,
 88,
 87,
 80,
 55,
 89,
 62,
 45,
 90,
 82,
 47,
 26,
 28,
 83,
 77,
 38,
 25,
 64,
 32,
 68,
 74,
 62,
 51,
 87,
 75,
 73,
 77,
 52,
 65,
 35,
 42,
 64,
 66,
 68,
 76,
 89,
 28,
 85,
 89,
 96,
 80,
 81,
 80,
 29,
 41,
 51,
 60,
 24,
 42,
 87,
 78,
 41,
 81,
 42,
 80,
 93,
 93,
 28,
 20,
 88,
 91,
 25,
 38,
 87,
 89,
 88,
 80,
 41,
 76,
 88,
 29,
 18,
 24,
 81,
 82,
 16,
 70,
 79,
 18,
 86,
 20,
 73,
 83,
 83,
 29,
 93,
 89,
 87,
 77,
 76,
 77,
 76,
 76,
 83,
 84,
 76,
 76,
 76,
 77,
 89,
 70,
 81,
 72,
 72,
 72,
 89,
 84,
 66,
 92,
 90,
 88,
 70,
 75,
 60,
 84,
 71,
 71,
 53,
 77,
 81,
 82,
 68,
 68,
 44,
 72,
 90,
 46,
 85,
 82,
 88,
 58,
 91,
 61,
 79,
 80,
 83,
 67,
 87,
 87,
 84,
 82,
 81,
 69,
 95,
 89,
 55,
 66,
 80,
 72,
 70,
 72,
 89,
 66,
 66,
 90,
 90,
 83,
 83,
 87,
 80,
 71,
 39,
 56,
 68,
 73,
 62,
 73,
 73,
 52,
 67,
 32,
 69,
 69,
 46,
 98,
 92,
 36,
 67,
 80,
 51,
 87,
 81,
 88,
 80,
 81,
 96,
 82,
 90,
 77,
 88,
 90,
 88,
 90,
 88,
 93,
 65,
 93,
 76,
 79,
 42,
 92,
 92,
 87,
 95,
 93,
 91,
 88,
 88,
 54,
 76,
 86,
 95,
 85,
 63,
 60,
 73,
 60,
 91,
 52,
 82,
 70,
 45,
 60,
 88,
 85,
 44,
 46,
 86,
 82,
 48,
 49,
 70,
 85,
 65,
 70,
 88,
 82,
 90,
 90,
 74,
 66,
 67,
 47,
 61,
 39,
 92,
 78,
 80,
 92,
 71,
 77,
 77,
 86,
 77,
 83,
 95,
 86,
 83,
 77,
 55,
 66,
 69,
 81,
 11,
 83,
 56,
 75,
 67,
 63,
 63,
 55,
 72,
 82,
 82,
 75,
 75,
 69,
 71,
 77,
 76,
 73,
 82,
 66,
 84,
 84,
 84,
 65,
 86,
 52,
 60,
 60,
 63,
 45,
 93,
 94,
 84,
 71,
 68,
 85,
 82,
 76,
 91,
 72,
 72,
 71,
 76,
 80,
 32,
 76,
 45,
 68,
 65,
 73,
 73,
 79,
 61,
 57,
 81,
 72,
 71,
 73,
 86,
 49,
 55,
 72,
 71,
 72,
 91,
 73,
 51,
 73,
 80,
 80,
 71,
 71,
 71,
 91,
 73,
 81,
 91,
 85,
 74,
 74,
 77,
 61,
 74,
 74,
 74,
 74,
 68,
 68,
 72,
 72,
 65,
 71,
 71,
 71,
 71,
 80,
 89,
 79,
 78,
 72,
 63,
 71,
 47,
 38,
 71,
 47,
 71,
 71,
 71,
 55,
 55,
 55,
 88,
 75,
 75,
 75,
 78,
 81,
 67,
 82,
 78,
 71,
 64,
 68,
 68,
 67,
 68,
 69,
 74,
 70,
 74,
 70,
 80,
 74,
 71,
 71,
 71,
 75,
 88,
 77,
 73,
 78,
 76,
 71,
 73,
 69,
 79,
 66,
 94,
 65,
 65,
 76,
 76,
 77,
 66,
 70,
 85,
 72,
 70,
 85,
 64,
 76,
 78,
 60,
 76,
 78,
 78,
 78,
 93,
 78,
 83,
 83,
 67,
 83,
 78,
 69,
 77,
 88,
 90,
 63,
 70,
 69,
 52,
 86,
 90,
 90,
 89,
 93,
 91,
 67,
 81,
 75,
 57,
 57,
 78,
 87,
 78,
 90,
 27,
 86,
 86,
 86,
 74,
 42,
 85,
 88,
 82,
 91,
 89,
 84,
 89,
 89,
 89,
 89,
 89,
 78,
 91,
 92,
 95,
 92,
 92,
 87,
 92,
 92,
 83,
 81,
 85,
 69,
 97,
 96,
 97,
 98,
 98,
 86,
 95,
 91,
 91,
 94,
 97,
 97,
 97,
 ...]

In [84]:
Hum_DIC={"Humidity(%)" : Final_Hum}

In [85]:
Hum_df_final=Humidity_df.drop(columns=['Humidity(%)'])

In [86]:
Hum_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1059 entries, 23 to 253333
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Severity           1059 non-null   int64
 1   Date               1059 non-null   object
 2   Start_Time         1059 non-null   object
 3   End_Time           1059 non-null   object
 4   Start_Lat          1059 non-null   float64
 5   Start_Lng          1059 non-null   float64
 6   Distance(mi)       1059 non-null   float64
 7   Description        1059 non-null   object
 8   City               1059 non-null   object
 9   County             1059 non-null   object
 10  State              1059 non-null   object
 11  Zipcode            1059 non-null   object
 12  Timezone           1059 non-null   object
 13  Weather_Timestamp  1059 non-null   object
 14  Temperature(F)     413 non-null    float64
 15  Pressure(in)       1058 non-null   float64
 16  Visibility(mi)     1059 non-null   float64
 17  Wind_Direction     1059 non-null   object
 18  Wind_Speed(mph)    1059 non-null   float64
 19  Precipitation(in)  1052 non-null   float64
 20  Weather_Condition  1055 non-null   object
 21  Amenity            1059 non-null   bool
 22  Bump               1059 non-null   bool
 23  Crossing           1059 non-null   bool
 24  Give_Way           1059 non-null   bool
 25  Junction           1059 non-null   bool
 26  No_Exit            1059 non-null   bool
 27  Railway            1059 non-null   bool
 28  Roundabout         1059 non-null   bool
 29  Station            1059 non-null   bool
 30  Stop               1059 non-null   bool
 31  Traffic_Calming    1059 non-null   bool
 32  Traffic_Signal     1059 non-null   bool
 33  Turning_Loop       1059 non-null   bool
 34  Sunrise_Sunset     1059 non-null   object
dtypes: bool(13), float64(8), int64(1), object(13)
memory usage: 236.0+ KB

In [88]:
Hum_df_final['Humidity(%)'] = Hum_DIC['Humidity(%)']

In [89]:
Hum_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1059 entries, 23 to 253333
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Severity           1059 non-null   int64
 1   Date               1059 non-null   object
 2   Start_Time         1059 non-null   object
 3   End_Time           1059 non-null   object
 4   Start_Lat          1059 non-null   float64
 5   Start_Lng          1059 non-null   float64
 6   Distance(mi)       1059 non-null   float64
 7   Description        1059 non-null   object
 8   City               1059 non-null   object
 9   County             1059 non-null   object
 10  State              1059 non-null   object
 11  Zipcode            1059 non-null   object
 12  Timezone           1059 non-null   object
 13  Weather_Timestamp  1059 non-null   object
 14  Temperature(F)     413 non-null    float64
 15  Pressure(in)       1058 non-null   float64
 16  Visibility(mi)     1059 non-null   float64
 17  Wind_Direction     1059 non-null   object
 18  Wind_Speed(mph)    1059 non-null   float64
 19  Precipitation(in)  1052 non-null   float64
 20  Weather_Condition  1055 non-null   object
 21  Amenity            1059 non-null   bool
 22  Bump               1059 non-null   bool
 23  Crossing           1059 non-null   bool
 24  Give_Way           1059 non-null   bool
 25  Junction           1059 non-null   bool
 26  No_Exit            1059 non-null   bool
 27  Railway            1059 non-null   bool
 28  Roundabout         1059 non-null   bool
 29  Station            1059 non-null   bool
 30  Stop               1059 non-null   bool
 31  Traffic_Calming    1059 non-null   bool
 32  Traffic_Signal     1059 non-null   bool
 33  Turning_Loop       1059 non-null   bool
 34  Sunrise_Sunset     1059 non-null   object
 35  Humidity(%)        1059 non-null   int64
dtypes: bool(13), float64(8), int64(2), object(13)
memory usage: 244.3+ KB

In [90]:
Hum_df_final.to_csv("Hum_df_final.csv",index=False)

Wind_Speed convert m/s to mph

m/s to h round off to one decimal placemp

In [64]:
WS_df=df[df["Wind_Speed(mph)"].isnull()]

In [65]:
WS_df.isnull().sum()

Severity                0
Date                    0
Start_Time              0
End_Time                0
Start_Lat               0
Start_Lng               0
Distance(mi)            0
Description             0
City                    0
County                  0
State                   0
Zipcode                 0
Timezone                0
Weather_Timestamp       0
Temperature(F)          0
Humidity(%)             0
Pressure(in)            0
Visibility(mi)          0
Wind_Direction       1573
Wind_Speed(mph)      1573
Precipitation(in)       0
Weather_Condition       0
Amenity                 0
Bump                    0
Crossing                0
Give_Way                0
Junction                0
No_Exit                 0
Railway                 0
Roundabout              0
Station                 0
Stop                    0
Traffic_Calming         0
Traffic_Signal          0
Turning_Loop            0
Sunrise_Sunset          0
dtype: int64

In [66]:
Date_WS=Temp_df['Date'].str.replace("-","")
Date_WS=Date_WS.tolist()

In [67]:
Lat_WS=WS_df['Start_Lat'].tolist()
Long_WS=WS_df['Start_Lng'].tolist()

In [68]:
URL_WS="https://power.larc.nasa.gov/api/temporal/daily/point?start="+str(Date_WS[0])+"&end="+str(Date_WS[0])+"&latitude="+str(Lat_WS[0])+"&longitude="+str(Long_WS[0])+"&community=re&parameters=WS10M&time-standard=lst"
response = requests.get(URL_WS)

In [69]:
response

In [70]:
response.json()

{'type': 'Feature',
 'geometry': {'type': 'Point', 'coordinates': [-93.76205, 45.32143, 305.5]},
 'properties': {'parameter': {'WS10M': {'20200103': 3.54}}},
 'header': {'title': 'NASA/POWER CERES/MERRA2 Native Resolution Daily Data',
  'api': {'version': 'v2.5.9', 'name': 'POWER Daily API'},
  'sources': ['merra2'],
  'fill_value': -999.0,
  'start': '20200103',
  'end': '20200103'},
 'messages': [],
 'parameters': {'WS10M': {'units': 'm/s',
   'longname': 'Wind Speed at 10 Meters'}},
 'times': {'data': 0.907, 'process': 0.12}}

In [17]:
Date = df['Date'].str.replace("-","")

In [18]:
Date=Date.tolist()

In [19]:
type(Date)

list

In [20]:
Lat=df['Start_Lat'].tolist()
Long=df['Start_Lng'].tolist()

In [21]:
len(Lat)
len(Long)

32829

In [22]:
Date[0]

'20160114'

In [23]:
URL="https://power.larc.nasa.gov/api/temporal/daily/point?start="+str(Date[0])+"&end="+str(Date[0])+"&latitude="+str(Long[0])+"&longitude="+str(Lat[0])+"&community=re&parameters=WS2M%2CT2M%2CT2MDEW%2CT2MWET%2CQV2M%2CPRECTOTCORR%2CRH2M%2CPS%2CWS10M%2CWD10M&time-standard=lst"
response = requests.get(URL)

In [24]:
response.json()

{'type': 'Feature',
 'geometry': {'type': 'Point',
  'coordinates': [40.630609, -75.470606, 3574.75]},
 'properties': {'parameter': {'WS2M': {'20160114': 5.79},
   'T2M': {'20160114': -36.06},
   'T2MDEW': {'20160114': -36.65},
   'T2MWET': {'20160114': -36.36},
   'QV2M': {'20160114': 0.18},
   'PRECTOTCORR': {'20160114': 0.01},
   'RH2M': {'20160114': 93.69},
   'PS': {'20160114': 62.33},
   'WS10M': {'20160114': 7.22},
   'WD10M': {'20160114': 140.69}}},
 'header': {'title': 'NASA/POWER CERES/MERRA2 Native Resolution Daily Data',
  'api': {'version': 'v2.5.9', 'name': 'POWER Daily API'},
  'sources': ['merra2', 'power'],
  'fill_value': -999.0,
  'start': '20160114',
  'end': '20160114'},
 'messages': [],
 'parameters': {'WS2M': {'units': 'm/s', 'longname': 'Wind Speed at 2 Meters'},
  'T2M': {'units': 'C', 'longname': 'Temperature at 2 Meters'},
  'T2MDEW': {'units': 'C', 'longname': 'Dew/Frost Point at 2 Meters'},
  'T2MWET': {'units': 'C', 'longname': 'Wet Bulb Temperature at 2 Meters'},
  'QV2M': {'units': 'g/kg', 'longname': 'Specific Humidity at 2 Meters'},
  'PRECTOTCORR': {'units': 'mm/day', 'longname': 'Precipitation Corrected'},
  'RH2M': {'units': '%', 'longname': 'Relative Humidity at 2 Meters'},
  'PS': {'units': 'kPa', 'longname': 'Surface Pressure'},
  'WS10M': {'units': 'm/s', 'longname': 'Wind Speed at 10 Meters'},
  'WD10M': {'units': 'Degrees', 'longname': 'Wind Direction at 10 Meters'}},
 'times': {'data': 1.663, 'process': 0.13}}

In [44]:
response